body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dd, dt, table, td, tr, textarea, form, p {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
img {
    border: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -ms-touch-action: none;
}
body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}
#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: rgba(0,143,58,0);
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #008F58;
    padding: 0;
    border-top: 1px solid #444;
    display: flex;
}
#footerUp {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 60px;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#header .headerBox0{
    width: 80%;
    height: 60%;
    padding: 0 5%;
    background: rgba(0,0,0,.3);
    border-radius: 10px;
    font-weight: 100;
    font-size: 14px;
    line-height: 2em;
    text-align: left;
}
#header .headerBox2{
    width: 80%;
    height: 60%;
    padding: 0 5%;
    font-size: 14px;
    line-height: 2em;
    font-weight: bold;
}
#header .headerIconfont{
    float: right;
}
#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
#scroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}
#footer>div{
    width: 20%;
    padding: 5px;
    text-align: center;
    color: #fff;
    /*line-height: 48px;*/
}
#footer .divColor{
    color: rgb(247,68,97);
    font-weight: bold;
}
#footer div i{
    font-size: 25px;
    margin: 0!important;
}
#footer div .iconfontText{
    width: 100%;
    font-size: 12px;
}
#footerUp div{
    width: 20%;
    height: 100%;
}